<form [formGroup]="updateForm">
    <mat-card class="example-card">
        <h1><b><mat-icon>update</mat-icon>Update Customer Address</b></h1>
        <mat-form-field appearance="outline">
            <mat-label>Facebook Name</mat-label>
            <input matInput #input1 maxlength="255" placeholder="Ex.Diki Kawasaki" id="profileName" type="text"
                formControlName="profileName" readonly>
            <mat-icon matSuffix>facebook</mat-icon>
            <mat-hint align="end">{{input1.value.length}}/255</mat-hint>
        </mat-form-field>
        <mat-form-field appearance="outline">
            <mat-label>Facebook URL</mat-label>
            <input matInput #input2 maxlength="255" placeholder="Ex.https://www.facebook.com/diki.kawasaki/"
                id="profileUrl" type="text" formControlName="profileUrl">
            <mat-icon matSuffix>facebook</mat-icon>
            <mat-hint align="end">{{input2.value.length}}/255</mat-hint>
        </mat-form-field>
        <mat-form-field appearance="outline">
            <mat-label>ชื่อผู้รับ</mat-label>
            <input matInput #input3 maxlength="255" placeholder="Ex.ดิกิ คาวาซากิ" id="addressName" type="text"
                formControlName="addressName" required>
            <mat-icon matSuffix>person_pin</mat-icon>
            <mat-hint align="end">{{input3.value.length}}/255</mat-hint>
        </mat-form-field>
        <mat-form-field appearance="outline">
            <mat-label>รายระเอียดที่อยู่</mat-label>
            <input matInput #input4 maxlength="255" placeholder="Ex.บ้านเลขที่ 180 ม.5" id="addressDetail" type="text"
                formControlName="addressDetail" required>
            <mat-icon matSuffix>home</mat-icon>
            <mat-hint align="end">{{input4.value.length}}/255</mat-hint>
        </mat-form-field>

        <mat-form-field appearance="outline">
            <mat-label>ที่อยุ่</mat-label>
            <mat-select id="tambonsId" formControlName="tambonsId" required>
                <mat-option>
                    <ngx-mat-select-search [formControl]="addressFilterCtrl"></ngx-mat-select-search>
                </mat-option>
                <mat-option *ngFor="let add of filteredAddress | async" [value]="add.id">
                    {{add.address}}
                </mat-option>
            </mat-select>
        </mat-form-field>

        <!-- <mat-form-field appearance="outline">
            <mat-label>จังหวัด</mat-label>
            <mat-select id="provincesId" formControlName="provincesId" required>
                <mat-option>
                    <ngx-mat-select-search [formControl]="provincesFilterCtrl"></ngx-mat-select-search>
                </mat-option>
                <mat-option *ngFor="let province of filteredprovinces | async" [value]="province.id">
                    {{province.nameTh}}
                </mat-option>
            </mat-select>
        </mat-form-field>
        <mat-form-field appearance="outline">
            <mat-label>เขต/อำเภอ</mat-label>
            <mat-select id="amphuresId" formControlName="amphuresId" required>
                <mat-option>
                    <ngx-mat-select-search [formControl]="amphuresFilterCtrl"></ngx-mat-select-search>
                </mat-option>
                <mat-option *ngFor="let amphures of filteredamphures | async" [value]="amphures.id">
                    {{amphures.nameTh}}
                </mat-option>
            </mat-select>
        </mat-form-field>
        <mat-form-field appearance="outline">
            <mat-label>แขวง/ตำบล</mat-label>
            <mat-select id="tambonsId" formControlName="tambonsId" required>
                <mat-option>
                    <ngx-mat-select-search [formControl]="tambonsFilterCtrl"></ngx-mat-select-search>
                </mat-option>
                <mat-option *ngFor="let tambons of filteredtambons | async" [value]="tambons.tambonId">
                    {{tambons.nameTh}}
                </mat-option>
            </mat-select>
        </mat-form-field>
        <mat-form-field appearance="outline">
            <mat-label>รหัสไปรษณีย์</mat-label>
            <input matInput #zipcode min="0" minlength="5" maxlength="5" id="zipCode" type="text"
                formControlName="zipCode" required readonly>
            <mat-icon matSuffix>location_on</mat-icon>
            <mat-hint align="end">{{zipcode.value.length}}/5</mat-hint>
        </mat-form-field> -->
        <mat-form-field appearance="outline">
            <mat-label>เบอร์โทร 1</mat-label>
            <input matInput #input5 min="0" minlength="10" maxlength="10" placeholder="Ex.0623540001" id="phoneNumber1"
                type="text" formControlName="phoneNumber1" required>
            <mat-icon matSuffix>phone</mat-icon>
            <mat-hint align="end">{{input5.value.length}}/10</mat-hint>
        </mat-form-field>
        <mat-form-field appearance="outline">
            <mat-label>เบอร์โทร 2</mat-label>
            <input matInput #input6 min="0" minlength="10" maxlength="10" placeholder="Ex.0623540001" id="phoneNumber2"
                type="text" formControlName="phoneNumber2">
            <mat-icon matSuffix>phone</mat-icon>
            <mat-hint align="end">{{input6.value.length}}/10</mat-hint>
        </mat-form-field>
        <button mat-fab extended type="submit" [disabled]="!updateForm.valid"
            (click)="onUpdate()">Save<mat-icon>save</mat-icon></button>
        <!-- <br>
        <button mat-fab extended color="primary" (click)="clearData()">Clear<mat-icon>close</mat-icon></button> -->
        <br>
        <mat-divider></mat-divider>
        <br>
        <button mat-fab extended color="primary" routerLink="{{getSessionStorage()}}">Back</button>
        <br>
    </mat-card>
</form>