<a mat-button href="https://www.youtube.com/watch?v=rlBFqtQ-qaQ&t=554s" target="_blank">สอน Angular 11 สร้างระบบ CRUD ด้วย MEAN Stack</a>

<!-- <mat-card class="example-card">
    <h1><b><mat-icon>portrait</mat-icon>Customers List</b></h1>
    <mat-card-header>
        <mat-card-title-group>
            <div class="example-container">
                <mat-form-field>
                    <mat-label>Facebook Name</mat-label>
                    <input matInput type="text" [(ngModel)]="getName" value="" (keyup.enter)="onSearch(getName)">
                </mat-form-field>&nbsp;
                <button class="example-button-row button" mat-fab extended color="primary" (click)="onSearch(getName)">
                    <mat-icon>search</mat-icon>
                    Search
                </button>&nbsp;
                <button class="example-button-row button" mat-fab extended (click)="clearData()">
                    <mat-icon>close</mat-icon>
                    Clear
                </button>
            </div>
            <button mat-raised-button color="accent" matBadge="+" class="demo-section" matBadgePosition="before"
                routerLink="/customer-add">New
                Customer</button>
        </mat-card-title-group>
    </mat-card-header>
</mat-card> -->

<mat-progress-bar value="100"></mat-progress-bar>