.example-card {
    display: auto;
    margin: 0;
    flex-direction: column;
}

.example-card-detail {
    display: auto;
    /* margin: 0px 0px; */
    /* flex-direction: column; */
}

.spacer {
    float: right;
}

a {
    text-decoration: none;
    color: black;
}

a:hover {
    color: blue;
    text-decoration: underline;
}

.example-container mat-form-field+mat-form-field {
    margin-left: 8px;
}

.example-button-row {
    margin-left: 20px;
}

.example-button-row2 {
    margin-left: 10px;
    color: rgb(0, 0, 0);
    background-color: rgba(226, 225, 225, 0.96);
}

.example-disabled {
    display: inline-block;
}