<br>
<mat-card class="example-card">
    <h1><b><mat-icon>store_mall_directory</mat-icon>Order List</b>
        <span class="spacer">
            <div class="example-button-container">
                <button mat-fab extended color="primary" routerLink="/order-add">
                    <mat-icon>add_shopping_cart</mat-icon>
                    New Order
                </button>
            </div>
        </span>
    </h1>
    <!-- <mat-form-field>
        <mat-label>Facebook Name</mat-label>
        <input matInput #search type="text" [(ngModel)]="getName" (keyup.enter)="onSearch(getName)">
        <button mat-icon-button matSuffix (click)="onSearch(getName)"><mat-icon>search</mat-icon></button>
        <button mat-icon-button matSuffix (click)="clearData()"><mat-icon>close</mat-icon></button>
    </mat-form-field> -->
</mat-card>