<br>
<mat-card class="example-card">
    <h1><b><mat-icon>portrait</mat-icon>Customers List</b>
        <span class="spacer">
            <div class="example-button-container">
                <button mat-fab extended color="primary" routerLink="/customer-add">
                    <mat-icon>person_add</mat-icon>
                    เพิ่มข้อมูลลูกค้า
                </button>
            </div>
        </span>
    </h1>
    <mat-form-field>
        <mat-label>Facebook Name</mat-label>
        <input matInput #search type="text" [(ngModel)]="getName" (keyup.enter)="onSearch(getName)">
        <button mat-icon-button matSuffix (click)="onSearch(getName)"><mat-icon>search</mat-icon></button>
        <button mat-icon-button matSuffix (click)="clearData()"><mat-icon>close</mat-icon></button>
    </mat-form-field>
</mat-card>

<!-- <mat-progress-bar value="100"></mat-progress-bar> -->

<mat-card *ngFor="let items of customerList">
    <mat-card-header>
        <div mat-card-avatar class="example-header-image"></div>
        <mat-card-title>{{items.profileName}}</mat-card-title>
        <button mat-button color="warn"
            (click)="onDelete(items.profileID)"><mat-icon>delete</mat-icon>ลบข้อมูลลูกค้า</button>
        <mat-card-subtitle>
            <mat-icon>facebook</mat-icon>
            <a href={{items.profileUrl}} target="_blank">{{items.profileUrl}}</a>
        </mat-card-subtitle>
        {{selectedOption}}
    </mat-card-header>

    <mat-card-content>
        <div class="example-card-detail">
            <mat-radio-group aria-labelledby="example-radio-group-label">
                <mat-radio-button *ngFor="let add of items.addressDetailList" [value]="add.addressId"
                    [checked]="add.defaultFlag" (change)="updateCustomerDefaultFlag($event)">
                    <mat-divider></mat-divider>
                    <a routerLink="/customer-edit/{{add.addressId}}" matTooltip="แก้ไขที่อยู่"
                        matTooltipPosition="right">{{add.addressName}}</a> <br>
                    {{add.addressDetail}} <br>
                    {{add.phoneNumber1}}
                    {{add.phoneNumber2}}
                    <mat-divider></mat-divider>
                </mat-radio-button>
            </mat-radio-group>
        </div>
    </mat-card-content>
    <mat-divider></mat-divider>
</mat-card>

<!-- <table mat-table [dataSource]="dataSource" class="mat-elevation-z8">
    <ng-container matColumnDef="no">
        <th mat-header-cell *matHeaderCellDef> No. </th>
        <td mat-cell *matCellDef="let element"> {{element.no}} </td>
    </ng-container>
    <ng-container matColumnDef="profileName" sticky>
        <th mat-header-cell *matHeaderCellDef> Facebook Name </th>
        <td mat-cell *matCellDef="let element"> <a href={{element.profileUrl}} target="_blank">{{element.profileName}}
            </a></td>
    </ng-container>
    <ng-container matColumnDef="addressName">
        <th mat-header-cell *matHeaderCellDef> ชื่อผู้รับ </th>
        <td mat-cell *matCellDef="let element"> {{element.addressName}} </td>
    </ng-container>
    <ng-container matColumnDef="addressDetail">
        <th mat-header-cell *matHeaderCellDef> ที่อยู่ </th>
        <td mat-cell *matCellDef="let element"> {{element.addressDetail}} </td>
    </ng-container>
    <ng-container matColumnDef="phoneNumber1">
        <th mat-header-cell *matHeaderCellDef> เบอร์โทร 1 </th>
        <td mat-cell *matCellDef="let element"> {{element.phoneNumber1}} </td>
    </ng-container>
    <ng-container matColumnDef="phoneNumber2">
        <th mat-header-cell *matHeaderCellDef> เบอร์โทร 2 </th>
        <td mat-cell *matCellDef="let element"> {{element.phoneNumber2}} </td>
    </ng-container> -->

<!-- <ng-container matColumnDef="edit" stickyEnd> -->
<!-- <ng-container matColumnDef="edit">
        <th mat-header-cell *matHeaderCellDef>
            Update
        </th>
        <td mat-cell *matCellDef="let element">
            <button mat-icon-button matTooltip="แก้ไข" matTooltipPosition="right"
                routerLink="/customer-edit/{{element.profileID}}">
                <mat-icon>edit</mat-icon>
            </button>
        </td>
    </ng-container>
    <ng-container matColumnDef="delete">
        <th mat-header-cell *matHeaderCellDef>
            Delete
        </th>
        <td mat-cell *matCellDef="let element">
            <button mat-icon-button matTooltip="ลบ" matTooltipPosition="right" (click)="onDelete(element.profileID)">
                <mat-icon>delete</mat-icon>
            </button>
        </td>
    </ng-container>
    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
</table> -->
<!-- <mat-paginator [pageSizeOptions]="[1, 2, 20, 50, 100]" showFirstLastButtons ></mat-paginator> -->