<mat-card class="example-card">
    <h1><b><mat-icon>portrait</mat-icon>Customers List</b></h1>
    <mat-card-header>
        <mat-card-title-group>
            <div class="example-container">
                <mat-form-field>
                    <mat-label>Facebook Name</mat-label>
                    <input matInput type="text" [(ngModel)]="getName" value="" (keyup.enter)="onSearch(getName)">
                </mat-form-field>&nbsp;
                <button class="example-button-row button" mat-fab extended color="primary" (click)="onSearch(getName)">
                    <mat-icon>search</mat-icon>
                    Search
                </button>&nbsp;
                <button class="example-button-row button" mat-fab extended (click)="clearData()">
                    <mat-icon>delete</mat-icon>
                    Clear
                </button>
            </div>
            <button mat-raised-button color="accent" matBadge="+" class="demo-section" matBadgePosition="before">New
                Customer</button>
        </mat-card-title-group>
    </mat-card-header>
</mat-card>

<mat-progress-bar value="100"></mat-progress-bar>

<table mat-table [dataSource]="dataSource" class="mat-elevation-z8">
    <ng-container matColumnDef="no">
        <th mat-header-cell *matHeaderCellDef> No. </th>
        <td mat-cell *matCellDef="let element"> {{element.no}} </td>
    </ng-container>
    <ng-container matColumnDef="profileName">
        <th mat-header-cell *matHeaderCellDef> Facebook Name </th>
        <td mat-cell *matCellDef="let element"> <a href={{element.profileUrl}} target="_blank">{{element.profileName}}
            </a></td>
    </ng-container>
    <ng-container matColumnDef="addressName">
        <th mat-header-cell *matHeaderCellDef> Name </th>
        <td mat-cell *matCellDef="let element"> {{element.addressName}} </td>
    </ng-container>
    <ng-container matColumnDef="addressDetail">
        <th mat-header-cell *matHeaderCellDef> Address </th>
        <td mat-cell *matCellDef="let element"> {{element.addressDetail}} </td>
    </ng-container>
    <ng-container matColumnDef="phoneNumber1">
        <th mat-header-cell *matHeaderCellDef> Phone Number1 </th>
        <td mat-cell *matCellDef="let element"> {{element.phoneNumber1}} </td>
    </ng-container>
    <ng-container matColumnDef="phoneNumber2">
        <th mat-header-cell *matHeaderCellDef> Phone Number2 </th>
        <td mat-cell *matCellDef="let element"> {{element.phoneNumber2}} </td>
    </ng-container>

    <ng-container matColumnDef="edit" stickyEnd>
        <th mat-header-cell *matHeaderCellDef>
            Action
        </th>
        <td mat-cell *matCellDef="let element">
            <button mat-icon-button matTooltip="แก้ไข" matTooltipPosition="right" #ckeckEdit>
                <mat-icon>edit</mat-icon>
            </button>
        </td>
    </ng-container>
    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
</table>
<!-- <mat-paginator [pageSizeOptions]="[1, 2, 20, 50, 100]" showFirstLastButtons ></mat-paginator> -->