<form [formGroup]="orderForm">
    <mat-card class="example-card">
        <h1><b><mat-icon>add_circle_outline</mat-icon>New Order</b></h1>
        <mat-form-field appearance="outline">
            <mat-label>Facebook Name</mat-label>
            <input matInput #input1 maxlength="255" placeholder="Ex.Diki Kawasaki" id="customerName" type="text"
                formControlName="customerName" required>
            <mat-icon matSuffix>facebook</mat-icon>
        </mat-form-field>
        <mat-form-field appearance="outline">
            <mat-label>ที่อยุ่</mat-label>
            <input matInput #input2 maxlength="255" id="address" type="text" formControlName="address" required>
            <mat-icon matSuffix>home</mat-icon>
        </mat-form-field>
        <button mat-fab extended color="primary">เพิ่ม/แก้ไข ที่อยู่</button>
    </mat-card>
</form>