<mat-stepper>
    <mat-step [stepControl]="orderForm">
        <ng-template matStepLabel>เพิ่มข้อมูลรายการซื้อสินค้า</ng-template>
        <form [formGroup]="orderForm">
            <mat-card class="example-card">
                <!-- <h1><b><mat-icon>add_circle_outline</mat-icon>New Order</b></h1> -->
                <br>
                <mat-form-field appearance="outline">
                    <mat-label>Facebook Name</mat-label>
                    <input matInput #input1 maxlength="255" placeholder="Ex.Diki Kawasaki" type="text"
                        [(ngModel)]="facebookName" formControlName="customerName" required>
                    <mat-icon matSuffix>facebook</mat-icon>
                    <mat-hint align="end">{{input1.value.length}}/255</mat-hint>
                </mat-form-field>
                <button mat-fab extended color="primary" (click)="checkCustomer()">
                    ตรวจสอบข้อมูลลูกค้า
                </button><br>
                <mat-form-field appearance="outline">
                    <mat-label>Facebook URL</mat-label>
                    <input matInput #input2 maxlength="255" type="text" formControlName="facebookUrl" readonly>
                    <mat-icon matSuffix>facebook</mat-icon>
                    <mat-hint align="end">{{input2.value.length}}/255</mat-hint>
                </mat-form-field>
                <mat-form-field appearance="outline">
                    <mat-label>ที่อยู่</mat-label>
                    <input matInput #input3 maxlength="255" type="text" formControlName="address" readonly>
                    <mat-icon matSuffix>location_on</mat-icon>
                    <mat-hint align="end">{{input3.value.length}}/255</mat-hint>
                </mat-form-field>

                <!-- <table mat-table [dataSource]="orderDetail.controls" formArrayName="orderDetail">
                    <tr mat-header-row *matHeaderRowDef="displayColumns"></tr>
                    <tr mat-row *matRowDef="let row; let i = index; columns: displayColumns;" [formGroupName]="i"></tr>

                    <ng-container matColumnDef="orderId">
                        <th mat-header-cell *matHeaderCellDef> รายการสินค้า </th>
                        <td mat-cell *matCellDef="let row">
                            <mat-form-field appearance="outline">
                                <mat-label>รายการสินค้า</mat-label>
                                <mat-select formControlName="orderId">
                                    <mat-option [value]="order.stockId"
                                        *ngFor="let order of orderSelect; let i = index">
                                        {{order.stockName}} ({{order.stockSellingPrice}})
                                    </mat-option>
                                </mat-select>
                            </mat-form-field>
                        </td>
                    </ng-container>
                    <ng-container matColumnDef="count">
                        <th mat-header-cell *matHeaderCellDef> จำนวน </th>
                        <td mat-cell *matCellDef="let row">
                            <mat-form-field appearance="outline">
                                <mat-label>จำนวน</mat-label>
                                <input matInput min="1" type="number" formControlName="count">
                            </mat-form-field>
                        </td>
                    </ng-container>
                    <ng-container matColumnDef="shipping">
                        <th mat-header-cell *matHeaderCellDef> ค่าส่ง </th>
                        <td mat-cell *matCellDef="let row">
                            <mat-form-field appearance="outline">
                                <mat-label>ค่าส่ง</mat-label>
                                <input matInput min="0" type="number" formControlName="shipping">
                                <span matTextPrefix>฿&nbsp;</span>
                            </mat-form-field>
                        </td>
                    </ng-container>
                    <ng-container matColumnDef="discount">
                        <th mat-header-cell *matHeaderCellDef> ส่วนลด </th>
                        <td mat-cell *matCellDef="let row">
                            <mat-form-field appearance="outline">
                                <mat-label>ส่วนลด</mat-label>
                                <input matInput min="0" type="number" formControlName="discount">
                                <span matTextPrefix>฿&nbsp;</span>
                            </mat-form-field>
                        </td>
                    </ng-container>
                    <ng-container matColumnDef="delete">
                        <th mat-header-cell *matHeaderCellDef> Delete </th>
                        <td mat-cell *matCellDef="let row">
                            <button mat-stroked-button color="warn" (click)="deleteLesson(row.index)">ลบรายการที่
                                {{row.index+1}}<mat-icon>delete_forever</mat-icon></button>
                        </td>
                    </ng-container>
                </table> -->

                <div *ngFor="let orderForm of orderDetail.controls; let i = index" formArrayName="orderDetail">
                    <div [formGroupName]="i">
                        <mat-divider></mat-divider>
                        <h2>รายการที่ {{i+1}}</h2>
                        <mat-form-field appearance="outline">
                            <mat-label>รายการสินค้า</mat-label>
                            <mat-select formControlName="orderId">
                                <mat-option [value]="order.stockId" *ngFor="let order of orderSelect; let i = index">
                                    {{order.stockName}} ({{order.stockSellingPrice}})
                                </mat-option>
                            </mat-select>
                        </mat-form-field>&nbsp;
                        <mat-form-field appearance="outline">
                            <mat-label>จำนวน</mat-label>
                            <input matInput min="1" type="number" formControlName="count">
                        </mat-form-field>&nbsp;
                        <mat-form-field appearance="outline">
                            <mat-label>ค่าส่ง</mat-label>
                            <input matInput min="0" type="number" formControlName="shipping">
                            <span matTextPrefix>฿&nbsp;</span>
                        </mat-form-field>&nbsp;
                        <mat-form-field appearance="outline">
                            <mat-label>ส่วนลด</mat-label>
                            <input matInput min="0" type="number" formControlName="discount">
                            <span matTextPrefix>฿&nbsp;</span>
                        </mat-form-field>&nbsp;
                        <button mat-stroked-button color="warn" (click)="deleteLesson(i)">ลบรายการที่
                            {{i+1}}<mat-icon>delete_forever</mat-icon></button>
                        <br><br>
                        <mat-divider></mat-divider>
                    </div>
                </div>
                <button mat-flat-button color="primary"
                    (click)="addLesson()">เพิ่มรายการ<mat-icon>add</mat-icon></button>
                <mat-divider></mat-divider>
                <button mat-flat-button color="accent" (click)="checkOrderData()" matStepperNext
                    [disabled]="!orderForm.valid">ตรวจสอบข้อมูล</button>
            </mat-card>
        </form>
        <br>
        <mat-divider></mat-divider>
        <br>
        <mat-card class="example-card">
            <H1>รายการสินค้าทั้งหมด</H1>
            <mat-form-field>
                <mat-label>Stock Name</mat-label>
                <input matInput #search type="text" [(ngModel)]="searchStockKey" (keyup)="onSearchStock()">
                <button mat-icon-button matSuffix (click)="clearDataSearchStock()"><mat-icon>close</mat-icon></button>
            </mat-form-field>
            <table mat-table [dataSource]="dataSourceShowStock" class="mat-elevation-z8">
                <ng-container matColumnDef="no">
                    <th mat-header-cell *matHeaderCellDef>#</th>
                    <td mat-cell *matCellDef="let element"> {{element.no}} </td>
                </ng-container>
                <ng-container matColumnDef="stockName">
                    <th mat-header-cell *matHeaderCellDef>Name</th>
                    <td mat-cell *matCellDef="let element"> {{element.stockName}}</td>
                </ng-container>
                <ng-container matColumnDef="stockPurchasePrice">
                    <th mat-header-cell *matHeaderCellDef>ราคาซื้อ</th>
                    <td mat-cell *matCellDef="let element"> {{element.stockPurchasePrice}} </td>
                </ng-container>
                <ng-container matColumnDef="stockSellingPrice">
                    <th mat-header-cell *matHeaderCellDef>ราคาขาย</th>
                    <td mat-cell *matCellDef="let element"> {{element.stockSellingPrice}} </td>
                </ng-container>
                <ng-container matColumnDef="stockRemaining">
                    <th mat-header-cell *matHeaderCellDef>คงเหลือ</th>
                    <td mat-cell *matCellDef="let element"> {{element.stockRemaining}} </td>
                </ng-container>
                <tr mat-header-row *matHeaderRowDef="stockDisplayedColumns"></tr>
                <tr mat-row *matRowDef="let row; columns: stockDisplayedColumns;"></tr>
            </table>
        </mat-card>
    </mat-step>

    <mat-step label="ตรวจสอบข้อมูล">
        <mat-card class="example-card">
            <h2 class="text-left"><b>ข้อมูลลูกค้า</b></h2>
            <div class="text-left">
                <p>Facebook : {{orderForm.value.customerName}}</p>
                <p>ที่อยู่จัดส่ง : {{orderForm.value.address}}</p>
            </div>
            <!-- <table class="text-left">
                <tr>
                    <th class="text-left">Facebook :</th>
                    <td class="text-left">{{orderForm.value.customerName}}</td>
                </tr>
                <tr>
                    <th class="text-left">ที่อยู่จัดส่ง :</th>
                    <td class="text-left">{{orderForm.value.address}}</td>
                </tr>
            </table> -->
            <br>
            <mat-divider></mat-divider>
            <br>
            <h2 class="text-left"><b>รายการสินค้า</b></h2>
            <p class="text-left">วันที่ {{curDate | date:'dd-MM-yyyy hh:mm a'}}</p>
            <table class="table-style">
                <thead>
                    <tr class="table-style">
                        <th class="table-style">จำนวน</th>
                        <th class="table-style">รายการ</th>
                        <th class="table-style">หน่วยละ</th>
                        <th class="table-style">ค่าส่ง</th>
                        <th class="table-style">ส่วนลด</th>
                        <th class="table-style">จำนวนเงิน</th>
                    </tr>
                </thead>
                <tbody>
                    <tr class="table-style" *ngFor="let order of orderDetail.controls; let i = index">
                        <td class="table-style">{{order.value.count}}</td>
                        <td class="table-style">{{order.value.stockName}}</td>
                        <td class="table-style">{{order.value.stockSellingPrice}}</td>
                        <td class="table-style">{{order.value.shipping}}</td>
                        <td class="table-style">{{order.value.discount}}</td>
                        <td class="table-style">{{order.value.amount}}</td>
                    </tr>
                </tbody>
                <tfoot>
                    <tr>
                        <td class="table-style"></td>
                        <td class="table-style"></td>
                        <td class="table-style"></td>
                        <td class="table-style"></td>
                        <td class="table-style"><b>Total</b></td>
                        <td class="table-style"><b>{{totalAmount}}</b></td>
                    </tr>
                </tfoot>
            </table>
            <br>
            <mat-form-field appearance="outline">
                <mat-label>มัดจำ</mat-label>
                <input matInput type="number" [(ngModel)]="depositInput" (keyup)="sumDeposit()">
                <span matTextPrefix>฿&nbsp;</span>
            </mat-form-field>
            <div class="text-left" *ngIf="depositInput">
                <p>ยอดสั่งซื้อ  : {{addComma(this.totalAmount)}} บาท</p>
                <p>มัดจำ      : {{addComma(this.depositInput)}} บาท</p>
                <p>ยอดคงเหลือ : {{addComma(this.totalAmountDeposit)}} บาท</p>
            </div>
            <button mat-fab extended type="submit" [disabled]="!orderForm.valid" (click)="onSubmit()">Save<mat-icon>save</mat-icon></button>
            <br>
        </mat-card>
    </mat-step>
</mat-stepper>